@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-black_bg1: #151517;
  --color-black_sec1: #1b1b1d;
  --color-black_bord1: #1b1b1d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151517;
    --foreground: #edf4f6;
  }
}

@layer components {
  .modal-overlay {
    @apply fixed inset-0 flex items-center justify-center bg-black/50;
  }
  .modal-card {
    @apply bg-gray-900 p-6 rounded-lg shadow-lg w-80 relative;
  }
  .modal-title {
    @apply text-white text-lg font-semibold;
  }
  .modal-input {
    @apply w-full mt-2 p-2 rounded bg-gray-800 text-white;
  }
  .modal-button {
    @apply px-4 py-2 bg-blue-400 text-blue-950 rounded hover:bg-blue-300;
  }

  /* Close Button */
  .modal-close-btn {
    @apply absolute top-2 right-2 text-gray-400 hover:text-white p-1 rounded-lg transition duration-200;
  }

  .modal-close-icon {
    @apply w-6 h-6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
