@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-black_bg1: #151517;
  --color-black_sec1: #1b1b1d;
  --color-black_bord1: #1b1b1d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151517;
    --foreground: #edf4f6;
  }
}

@layer components {
  .modal-overlay {
    @apply fixed inset-0 flex items-center justify-center bg-black/50;
  }
  .modal-card {
    @apply bg-gray-900 p-6 rounded-lg shadow-lg w-80 relative;
  }
  .modal-title {
    @apply text-white text-lg font-semibold;
  }
  .modal-input {
    @apply w-full mb-2 px-4 py-2  bg-gray-800 text-white;
  }
  .modal-button {
    @apply px-4 py-2 bg-blue-400 text-blue-950 rounded hover:bg-blue-300;
  }
  .modal-login {
    @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 
           px-6 py-4 rounded-md w-100 h-100 border-2 border-black_bord1 bg-black_bg1 shadow-lg;
  }

  /* Close Button */
  .modal-close-btn {
    @apply absolute top-2 right-2 text-gray-400 hover:text-white p-1 rounded-lg transition duration-200;
  }

  .modal-close-icon {
    @apply w-6 h-6;
  }
  .card-wrapper {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gradient-to-b from-slate-700 to-slate-800 rounded-2xl overflow-hidden flex justify-center items-center;
  }

  @keyframes spin-border {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .card-wrapper::before {
    background: conic-gradient(
      rgba(211, 248, 0, 0.9) 0deg,
      rgba(223, 253, 50, 0.9) 0deg,
      rgba(238, 253, 150, 0.9) 0deg,
      transparent 80deg
    );

    @apply absolute h-[150%] w-[150%] content-[''] 
            rounded-2xl;

    animation: spin-border 4s linear infinite;
  }

  .card-content {
    /* background: radial-gradient(circle at bottom, #2e382e 10%, #50c9ce 100%); */
    @apply relative flex flex-col items-center justify-start 
             h-[calc(100%-2px)] w-[calc(100%-2px)] 
             rounded-2xl p-4 bg-black_bg1;
  }
  .card-border {
    @apply flex items-center justify-between w-full border-t border-gray-800;
  }

  .card-button {
    @apply px-3 py-3 bg-blue-400 text-blue-950 rounded-full hover:bg-blue-300;
  }

  @keyframes shooting {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(500px) translateY(500px);
      opacity: 0;
    }
  }

  .animate-shooting {
    animation: shooting 1s forwards; /* Adjust duration as needed */
  }
  .login-card {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 
    rounded-2xl overflow-hidden flex flex-col p-6 items-start gap-4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
